p {
  margin: 0;
}

.CardDetail {
  background: white;
  border-radius: 10px;
}

.CardDetail__img {
  text-align: center;
}

.CardDetail__types {
  display: flex;
  justify-content: center;
}

.CardDetail__sprites {
  display: flex;
  justify-content: center;
}

.CardDetail__type {
  padding: 5px 10px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  background: cyan;
  color: #fff;
}

.CardDetail__name {
  color: black;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}

.CardDetail__info {
  margin-left: 10px;
}

.CardDetail__moves {
  display: flex;
  justify-content: right;
}

.CardDetail__data {
  color: black;
  padding-bottom: 10px;
}

.CardDetail__data .title {
  font-weight: 700;
}